@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 15px;
    line-height: 1.6em;
    height: 100%;
}

.cabecera{
    background-color: black;
    color: white;
    padding: 1.5rem;
    height: 7vh;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cabecera a{
    color: white;
    text-decoration: none;
}
.contenedor-cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#logo{
    font-family: 'PT Serif', serif;
    font-weight: bolder;
    letter-spacing: 2.5px;
}
.navegador ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegador ul a{
    display: inline-block;
}
.navegador ul a li{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
}
.navegador ul a li:hover {
    background: #383737;
}
.page-content{
    width: 100%;
    height: 100%;
    min-height: 85.7vh;
    background-color: #0088C2;
    background: url("https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80") no-repeat fixed center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    width: 80%;
    min-height: 80vh;
    max-width: 1000px;
    margin: 20;
    background-color: rgba(14, 13, 13, 0.726);
    border-radius: 12px;
}


/*ESTILOS PARA PÁGINA DE INICIO*/




/*ESTILOS PARA PAGINA ABOUT ME*/
.biografia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.imagen-biograph{
    width: 30%;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-biograph img{
    border-radius: 15px;
}
.texto-biograph{
    width: 65%;
    padding: 0 20px;
}
.recomendaciones{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
}
.card-about{
    height: 260px;
    width: 200px;
    background-color: #d8d8d8;
    border-radius: 15px;
    color: #000000;
    margin: 5px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.foto-docente{
    height: 80px;
    width: auto;
    border-radius: 100% ;
    align-self: center;
}
.card-name {
    font-size: 12px;
    font-weight: bold;
    color: black;
    font-style: none;
    margin-left: 15px;
    width: 100%;
}
.card-container p, span{
    color: #000000;
    font-style: normal;
    font-size: 12px;
    margin:  0 15px;
}
/*
███████████████████████████████████
█░░░░░░░░░░░░░░░░███░░░░░░░░░░░░░░█
█░░▄▀▄▀▄▀▄▀▄▀▄▀░░███░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░░░░░░░▄▀░░███░░▄▀░░░░░░░░░░█
█░░▄▀░░████░░▄▀░░███░░▄▀░░█████████
█░░▄▀░░░░░░░░▄▀░░███░░▄▀░░█████████
█░░▄▀▄▀▄▀▄▀▄▀▄▀░░█A█░░▄▀░░█████████
█░░▄▀░░░░░░▄▀░░░░███░░▄▀░░█████████
█░░▄▀░░██░░▄▀░░█████░░▄▀░░█████████
█░░▄▀░░██░░▄▀░░░░░░█░░▄▀░░░░░░░░░░█
█░░▄▀░░██░░▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░░░░░██░░░░░░░░░░█░░░░░░░░░░░░░░█
███████████████████████████████████
*/