@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 15px;
    line-height: 1.6em;
}

.cabecera{
    background-color: black;
    color: white;
    padding: 1.5rem;
    height: 7vh;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cabecera a{
    color: white;
    text-decoration: none;
}
.contenedor-cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#logo{
    font-family: 'PT Serif', serif;
    font-weight: bolder;
    letter-spacing: 2.5px;
}
.navegador ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegador ul a{
    display: inline-block;
}
.navegador ul a li{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
}
.navegador ul a li:hover {
    background: #383737;
}
.page-content{
    width: 100%;
    height: 85.5vh;
    background-color: #0088C2;
    background-image: url(https://unsplash.com/photos/hpjSkU2UYSU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink);
}
.display{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: aqua;
}


/*ESTILOS PARA PÁGINA DE INICIO*/




/*
███████████████████████████████████
█░░░░░░░░░░░░░░░░███░░░░░░░░░░░░░░█
█░░▄▀▄▀▄▀▄▀▄▀▄▀░░███░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░░░░░░░▄▀░░███░░▄▀░░░░░░░░░░█
█░░▄▀░░████░░▄▀░░███░░▄▀░░█████████
█░░▄▀░░░░░░░░▄▀░░███░░▄▀░░█████████
█░░▄▀▄▀▄▀▄▀▄▀▄▀░░█A█░░▄▀░░█████████
█░░▄▀░░░░░░▄▀░░░░███░░▄▀░░█████████
█░░▄▀░░██░░▄▀░░█████░░▄▀░░█████████
█░░▄▀░░██░░▄▀░░░░░░█░░▄▀░░░░░░░░░░█
█░░▄▀░░██░░▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░░░░░██░░░░░░░░░░█░░░░░░░░░░░░░░█
███████████████████████████████████
*/